/* Login Component, Signup, and Forget Password Components */

.loginWrap {
  display: flex;
  background-color: #00f19d;
  height: 100vh
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: auto;
}

.loginForm img {
  margin: auto;
  height: 200px;
  width: 200px
}

.loginForm h4 {
  align-self: center;
  color: #342a73;
}

.inputWrap {
  display: flex;
  flex-direction: column;
}

.inputWrap input {
  align-self: center;
  margin: 0px auto 15px auto;
  width: 250px;
  height: 40px;
  color: #342a73
}

::placeholder {
  color: #342a73;
  padding: 0px 0px 0px 10px;
  font-size: 10pt;
  font-weight: bold;
}

.loginForm a {
  align-self: center;
  margin: 15px auto 0px auto;
  align-content: center;
  text-align: center;
  color: #342a73;
  font-weight: bold;
  font-size: 10pt;
  text-decoration: none;
  cursor: pointer;
}

.loginButton {
  align-self: center;
  margin: auto;
  border-radius: 15px;
  height: 35px;
  width: 200px;
  color: #efefef;
  background-color: #342a73;
}

/* Success Message Component */

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.3);
}

.successMessage {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: auto;
  width: 400px;
  height: 600px;
  z-index: 9999;
  position: fixed;
  top: 50%;
  left: 50%;
  border: 1px solid lightgray;
  background: white;
  transform: translate(-50%, -50%)
}

.successMessage * {
  align-self: center;
  margin: 30px auto 0px auto;
  color: #342a73;
}

.successMessage p {
  width: 80%;
  line-height: 1.8;
}

.successMessage button {
  border-radius: 15px;
  height: 35px;
  width: 200px;
  background-color: #00f19d;
  cursor: pointer;
}

.successMessage h6 {
  opacity: 0.25;
}

svg {
  width: 200px;
  display: block;
  margin: 40px auto 0;
}

/* Homepage Component */

.homepage {
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  height: 100%;
}

/* App Header */
.appHeader {
  width: 100vw;
  height: 7%;
  background-color: #342a73;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
}

.appHeader img {
  height: 90%;
  margin: auto
}

.username {
  position: absolute;
  right: 50px;
}

.userImage {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.loginModal {
  width: 100px;
  border: 1px solid #efefef;
  z-index: 9999;
  position: absolute;
  background: #342a73;
  display: flex;
  align-content: center;
  flex-direction: column;
  right: 50px;
  top: 30px;
  color: #efefef;
}

.loginModal p {
  text-align: center;
  cursor: pointer;
}

/* Recent Activity && Activity Components */

.recentActivity {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  width: 80%;
  height: 300px;
  margin: 30px auto auto auto;
  position: relative;
  top: 40px;
  background-color: white;
}

.recentActivity * {
  margin: 10px 10px 0px 15px;
  color: #342a73
}

.recentActivity a {
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin: 0px 15px 15px 0px;
  font-weight: bold;
}

.activity {
  display: flex;
}

.activity img {
  height: 45px;
  max-width: 45px;
  border-radius: 20px;
  flex-grow: 1
}

/* Projects Listing && Projects Components */

.projectListing {
  display: flex;
  flex-direction: column;
  /* border: 1px solid lightgray; */
  width: 80%;
  height: 400px;
  margin: 30px auto auto auto;
  padding-bottom: 40px;
  position: relative;
  top: 40px;
  /* background-color: white; */
}

.projectsDisplay {
  display: flex;
}

.upperProject {
  cursor: pointer;
}

.projectsPageDisplay {
  padding-top: 60px;
  padding-bottom: 80px;
  position: relative;
  overflow-y: auto;
}

.projectsPageDisplay button {
  height: 75px;
  width: 75px;
  background-color: #00f19d;
  border-radius: 45px;
  position: fixed;
  top: 625px;
  right: 80px;
  font-size: 40pt;
  color: #342a73;
  cursor: pointer;
}

.projectsPageDisplay button:focus {
  outline: none;
}

.projectsPageDisplay button p {
 margin: 0 auto 10px;
}

.projectListing * {
  margin: 10px 10px 0px 15px;
  color: #342a73
}

.projectListing a {
  cursor: pointer;
}

.moreDiv {
  display: flex;
  position: relative;
}

.moreDiv a {
  position: absolute;
  right: 15px;
  font-weight: bold;
}

.moreDiv h5 {
  opacity: 0.25;
}

.project {
  border: 1px solid lightgray;
  width: 150px;
  height: 250px;
  background-color: white;
}

.project * {
  color: #342a73;
}

.projectFile {
  height: 150px;
  width: 150px;
  margin: auto;
}

/* Nav Bar Component */

.navBar {
  width: 100vw;
  height: 7%;
  background-color: #342a73;
  display: flex;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.navBar img {
  width: 80px;
  margin: 5px auto 0px auto;
  cursor: pointer;
}

/* Tasks Component */

.taskWrap {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  position: relative;
  align-self: center;
  margin: auto;
  top: 60px;
}
.taskWrap * {
  margin: 10px 10px 0px 15px;
  color: #342a73;
}

.taskWrap h2 {
  padding-left: 40px;
}

.todoWrap {
  border: 1px solid lightgray;
  background-color: white;
}

.todo-list {
  margin: 40px auto auto 30px;
	padding: 0;
  list-style: none;
  background-color: white;
}

.todoModal {
  height: 50px;
  width: 400px;
  border: 1px solid #efefef;
  z-index: 9999;
  position: absolute;
  background: white;
  display: flex;
}

.todoModal input{
  margin-bottom: 10px;
  width: 80%;
}

.todoListTitle {
  display: flex;
  position: relative;
}
.todoListTitle h3 {
  display: flex;
  position: relative;
  top: 3px
}
.todoListTitle button {
  height: 30px;
  width: 30px;
  background-color: #00f19d;
  border-radius: 45px;
  font-size: 15pt;
  color: #342a73;
  cursor: pointer;
  position: relative;
}

.todoListTitle button:focus {
  outline: none;
}

.todoListTitle button p {
 margin: 0;
 position: relative;
 bottom: 1px
}

.todo-list li {
	position: relative;
  font-size: 24px;
  margin: auto auto 30px auto;
}

.todo-list li label {
  margin: auto auto auto 80px
}


input[type='checkbox'] {
  transform: scale(2);
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeSpeed;
	width: 13px;
	height: 13px;
	margin: 0;
	margin-right: 1px;
	cursor: pointer;
}

input[type='checkbox']:after {
	content: "";
	vertical-align: middle;
	text-align: center;
	line-height: 13px;
	position: absolute;
	cursor: pointer;
	height: 13px;
	width: 13px;
  font-size: 10px;	
  border-radius: 4px;
}

input[type='checkbox']:checked:after {
	background: #342a73;
	content: '\2714';
  color: #fff;
  outline: 0;
}

/* Project Overview */

.projectOverview {
  background-color: #efefef;
  height: 100vh;
  padding-top: 60px;
}

.projectOverview * {
  color: #342a73;
  background-color: white;
}

.projectOverview h1 {
  background-color: #efefef;
  margin: 30px auto auto 30px
}

.upperProject {
  display: flex;
  width: 80%;
  margin: 40px auto 0 auto;
  border: 1px solid lightgrey;
}

.upperProject * {
  color: #342a73;
  background-color: white;
}
.upperProject img {
  margin: 0;
}

.upperProject h2 {
  margin-left: 40px;
}

.lowerProject {
  width: 80%;
  margin: 30px auto 0 auto;
  border: 1px solid lightgrey;
}

.lowerProject ul {
  padding-bottom: 10px;
  list-style: none;
}

.lowerProject ul li {
  margin: 40px auto 20px auto;
  font-weight: bold;
  font-size: 15pt;
}

/* Channels */

.channelsList {
  background-color: #efefef;
  height: 100vh;
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.channel {
  display: flex;
  width: 80%;
  height: 150px;
  margin: 0 0 20px 30px;
  border: 1px solid lightgray;
  background-color: white;
  position: relative;
  cursor: pointer;
}

.channelIcon {
  height: 150px;
  width: 150px;
}

.channel h2 {
  margin-left: 30px;
  color: #342a73;
}

.rightArrow {
  height: 70px;
  width: 70px;
  position: relative;
  top: 30px;
  left: 20%;
  margin: 0 auto !important
}

/* Message List && Messages */

.messageList {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  margin: auto;
  width: 60%;
  min-height: 500px;
  border: 1px solid #efefef;
}
.timestamp {
  align-self: center;
  padding-bottom: 10px;
  opacity: 0.25;
  font-size: 8pt
}

.messageWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 20px;
  padding-right: 20px;
  position: relative;
}
.message {
  border-radius: 25px;
  padding: 5px;
  max-width: 300px;
  margin-right: 40px;
}

.messageContent{
  margin: 5px 20px 5px 20px;
  color: #342a73;
}
.messageStyle {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
}
.messageUser {
  height: 50px;
  position: relative;
  bottom: 5px;
  padding-left: 40px;
}

.messageUsername {
  height: 20px;
  margin: 0;
  padding: 0;
}

.messageUsername p {
  height: 20px;
  margin: auto;
  padding: 0;
  font-size: 10pt;
  opacity: .3;
  align-self: center;
  text-align: center;
}

.channelName {
  background-color: #00f19d;
  width: 400px;
  height: 50px;
  margin: 0 auto 30px auto;
  vertical-align: middle;
  border: 1px solid #342a73;
}

.channelName p {
  color: #342a73;
  font-size: 30pt;
  margin: 0;
  text-align: center;
  font-weight: bold
}
.chatBar {
  display: flex;
  margin: 0 auto 0 auto;
  width: 60%;
  border: 1px solid #efefef;
  justify-content: space-evenly;
}

.messageInput {
  display: flex;
  border: 1px solid #efefef;
  border-radius: 25px;
  height: 50px;
  width: 250px;
}

.messageInput input {
  padding-top: 5px;
  padding-left: 5px;
  border-radius: 30px;
  border: none;
  height: 40px;
  font-size: 15pt;
}

.chatBar img {
  height: 50px;

}

input[type=text]:focus {
  outline: none;
}