/* Login Component, Signup, and Forget Password Components */

.loginWrap {
  display: flex;
  background-color: #00f19d;
  height: 100vh
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: auto;
}

.loginForm img {
  margin: auto;
  height: 200px;
  width: 200px
}

.loginForm h4 {
  align-self: center;
  color: #342a73;
}

.inputWrap {
  display: flex;
  flex-direction: column;
}

.inputWrap input {
  align-self: center;
  margin: 0px auto 15px auto;
  width: 250px;
  height: 40px;
  color: #342a73
}

::placeholder {
  color: #342a73;
  padding: 0px 0px 0px 10px;
  font-size: 10pt;
  font-weight: bold;
}

.loginForm a {
  align-self: center;
  margin: 15px auto 0px auto;
  align-content: center;
  text-align: center;
  color: #342a73;
  font-weight: bold;
  font-size: 10pt;
  text-decoration: none;
  cursor: pointer;
}

.loginButton {
  align-self: center;
  margin: auto;
  border-radius: 15px;
  height: 35px;
  width: 200px;
  color: #efefef;
  background-color: #342a73;
}

/* Success Message Component */

.successMessage {
  align-self: center;
  margin: auto;
  width: 400px;
  height: 80%
}

svg {
  width: 100px;
  display: block;
  margin: 40px auto 0;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  &.circle {
    -webkit-animation: dash .9s ease-in-out;
    animation: dash .9s ease-in-out;
  }
  &.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash .9s .35s ease-in-out forwards;
    animation: dash .9s .35s ease-in-out forwards;
  }
  &.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check .9s .35s ease-in-out forwards;
    animation: dash-check .9s .35s ease-in-out forwards;
  }
}

